body{
    display: block;
    font-family: 'Oswald', Verdana;
    margin: 0;
}

img{
    width: 50%;
}
#fond {
    display: block;
    min-height: 720px;
    background-image: url(images/palais-longchamp-fontainelamyotcm-1200x600-crop-1606215377.jpg);
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    background-attachment: fixed;
    background-size: cover;
}
#fond h1{

    text-align: center;
    color: #ffffff;

}
h1{
    margin: 0;
    padding-top: 20%;
}
#intro {
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-top: rem;
    margin-bottom: 3.125rem;
    margin-left: 3rem;
    margin-right: 3rem;
    align-items: center;
padding-left: 6rem;
padding-right: 6rem;
padding-top: 1rem;
}
#intro h2{
    text-align: center;
    color: #0047A3;
    margin: 18px;
}
h2{
    color: #0047A3;
}

.parc, .parc2 {
    text-align: center;
    display: flex;
    flex-direction:row;
}

.parc img, .parc2 img{
    border-radius: 4%;
    width: 45rem;
}

.parc h2, parc2 h2{
    padding-bottom: 2rem;
    padding-top: 1rem;
}


.parc1 {
    text-align: center;
    display: flex;
    flex-direction:row-reverse;
}

.parc1 img{
    border-radius: 4%;
    width: 45rem;
}

.parc1 h2{
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.parc1 p, .parc p, .parc2 p{
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: center
}

#carte{
    text-align: center;
}
#carte h2{
    margin-bottom: 3rem;
}
#carte img{
    margin: 0;
    width: 90rem;
}