*{
    font-family: 'Oswald', 'Verdana' ;
    box-sizing: border-box;
}

h1{
    color: #0047a3; ;
    font-family: 'Oswald', 'Verdana' ;
    text-align: center;
}
.column{
    float:left;
    width: 33.33%;
    padding: 5px;
}

.row:after {
    content: "";
    display: table;
    clear:none
}

.content{
    width: 35%; ;
    height: 5px;
    top: 70%;
    left:center ;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: -3;
    transition: 0.3s;
}
.content2{
    width: 35%; ;
    height: 5px;
    top: -70;
    left:center ;
    position: absolute;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: -3;
    transition: 0.3s;
}

.content:hover{
    color: gray;
    opacity: 2;
}
.content h2{
    font-size: 10px;
    color:#0047a3;
    margin-bottom: 15px;
}
.content p{
    font-size: 15px;
    color: #fff;
}
.content > *{
    transform: translate(25px);
    transition: transform 0.6s;
}
.content:hover > *{
    transform: translate(0px);
}